USE [teste]
GO
/****** Object:  Table [dbo].[systemOrder]    Script Date: 6/7/2019 10:25:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[systemOrder](
	[ORDER_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[USER_ID] [decimal](18, 0) NOT NULL,
	[PRODUCT_ID] [decimal](18, 0) NOT NULL,
	[ORDER_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_systemOrder] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[systemProduct]    Script Date: 6/7/2019 10:25:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[systemProduct](
	[PRODUCT_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[PRODUCT_NAME] [varchar](100) NOT NULL,
	[PRODUCT_PRICE] [decimal](18, 2) NOT NULL,
	[PRODUCT_DATE] [datetime] NOT NULL,
	[PRODUCT_AMOUNT] [int] NOT NULL,
 CONSTRAINT [PK_systemProduct] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[systemUser]    Script Date: 6/7/2019 10:25:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[systemUser](
	[USER_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](100) NOT NULL,
	[USER_LOGIN] [varchar](100) NOT NULL,
	[USER_PASSWORD] [varchar](100) NOT NULL,
 CONSTRAINT [PK_systemUser] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[webapiUser]    Script Date: 6/7/2019 10:25:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webapiUser](
	[USER_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](100) NOT NULL,
	[USER_PASSWORD] [varchar](100) NOT NULL,
 CONSTRAINT [PK_webapiUser] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[systemOrder]  WITH CHECK ADD  CONSTRAINT [FK_systemOrder_systemProduct] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[systemProduct] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[systemOrder] CHECK CONSTRAINT [FK_systemOrder_systemProduct]
GO
ALTER TABLE [dbo].[systemOrder]  WITH CHECK ADD  CONSTRAINT [FK_systemOrder_systemUser] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[systemUser] ([USER_ID])
GO
ALTER TABLE [dbo].[systemOrder] CHECK CONSTRAINT [FK_systemOrder_systemUser]
GO
