<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="urlApi"       value="http://localhost:19432/" />
    <add key="apiUser"      value="teste" />
    <add key="apiPws"       value="teste1" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>